@import '../_variables.scss';

.popup {
    visibility: hidden;
    list-style: none;
    padding: 0;

    &.visible {
        visibility: visible;
    }
}

button.active {
    font-weight: bold;
    color: $dark;
    background: $light;
}
