@import '../_variables.scss';

.display-bar {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr auto auto;
    & > * {
        padding: 10px;
    }
    .timer {
        font-size: 4em;
    }
}

.mode-bar {
    display: flex;

    button {
        margin: 0 5px;
        flex-basis: 33%;

        &.active {
            flex-basis: 50%;
        }
    }
}

.play, .stop {
    border: none;
    svg {
        height: 2em;
        width: 2em;
        fill: $light;
    }
}
