@import '../_variables.scss';

.display-bar {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr auto auto;
    & > * {
        padding: 10px;
    }
    .timer {
        font-size: 4em;
    }
}
